

/*
position: sticky;
top: 20px;
*/
html {
  height: 100%;
}
/* -----------------HEADER----------------------- */

header #banniere img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;


}

/* -----------------FIN DU HEADER----------------------- */

/* -----------------MENU----------------------- */
nav #menu {
	background-color: black;
	width: auto;
}

#menu{
	background-color: black;
}

nav #menu ul {
 list-style-type:none;
 display: inline-block;

}

nav #menu li {
 display: inline-block;
 background-color:black;
 }

nav #menu li a {
 display:block;
 width:175px;
 color:white;
 text-decoration:none;
 padding: .55em;
 text-align: center;
 }

nav #menu li a:hover {
 color:white;
 background-color: #666666;
 }

 nav #menu ul li ul {
 display:none;
 width: 100%;
 }

nav #menu ul li:hover ul {
 display:block;
 margin-left: -40px;
 width:12%;
 }
/*
nav #menu li:hover ul li {
/* float:none;
 }*/

nav #menu li ul {	
 position:absolute;
 }

 /* -----------------FIN DU MENU----------------------- */

 body #content {
	margin:  2em;	
	border: solid lightgrey;
	padding: 0em 1em 0em 1em;
}

 body {
	margin: 0;
	padding: 0;
	position: relative;
	padding-bottom: 100px;
	min-height: 100%;
}


/*--------------------FOOTER-------------------------*/
footer #footer{
	background-color: lightgrey;
	bottom: 0;
	width: 100%;
	border-top-style:solid; 
	/*position: fixed;*/
	position: absolute;
	font-size: 12px;
}

footer #footer #ouverture , #contact , #copyright{
	display: inline-block;
	width: 33%;
	vertical-align: center;
}

footer #footer #ouverture , #contact{
	text-align: center;
}

footer #footer #copyright{
	text-align: right;
}

footer #footer #ouverture , #contact p{
	margin-top: 0px;
}

footer #footer #ouverture p{
	margin-bottom:0px;
	margin-top: 0px;
}

footer #footer #contact p{
	margin-bottom:0px;
	margin-top: 0px;
}

footer #footer #ouverture h2{
	margin-top: 5px;
	margin-bottom: 5px;
}

/*--------------------FIN DU FOOTER-------------------------*/
/*--------------------POUR LES ELUS-------------------------*/

.container {
  position: relative;
  width: 15%;
  	display:inline-block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
  opacity: 50%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


#elus{
width:100%;
background-color: yellow;
}
#elus img{
width: 100%;
}
#elus div{
	text-align: center;
}
/*--------------------FIN DU CODE POUR LES ELUS-------------------------*/
